
.card{
    display: flex;
    height: 100px;
    background-color: rgb(253, 253, 253);
    border-radius: 6px;
    color: rgb(36, 35, 35);
    border: 1px solid rgb(197, 197, 197);
    margin-bottom: 15px;
}
.card:hover{
    background-color: rgb(235, 233, 233);
    transition: ease 1s;
}
.card>div:first-child>img{
    width: 40px;
    margin-top: 30px;
    margin-left: 20px;
}
.card>div:nth-child(2){
    width: 200px;
}
.card>div:nth-child(2)>ul{
    font-size:  16px;
    font-weight: 700;
    line-height: 16px;
    margin-top: 20px;
    
}
.card>div:nth-child(2)>ul>li{
    margin-top: -3px;
}
.card>div:nth-child(2)>ul>p{
    font-size:  12px;
    font-weight: 500;
    line-height: 16px;
    margin-top: 8px;
}
.busDetails{
    width: 270px;
}

.busDetails>h2{
    font-size: 16px;
    font-weight: 700;
    margin-top: 20px;
}
.busDetails>p{
    font-size: 12px;
    color: rgb(153, 153, 153);
    margin-top: -5px;
}
.busDetails>div{
    font-size: 12px;
    margin-top: -5px; 
}
.busDetails>div>a{
    color: rgb(107,167,222);
}
.availableSeats{
    margin-top: 45px;
    color: rgb(153, 153, 153);
    font-size: 13px;
   width: 200px;
}
.fare{
    margin-top: 40px;
    color: rgb(31, 31, 31);
    font-size: 24px;
    width: 120px;
}
.ratings{
    /* margin-left: 50px; */
    padding-right: 10px;
}
.ratings>div:first-child{
    margin-top: 25px;
    color: rgb(153, 153, 153);
    font-size: 13px;
    text-align: right;
}
.ratings>div:first-child>p{
    margin-top: 5px;
}
.bookNowBtn>button{
    margin-top: -5px;
    width: 120px;
    height: 38px;
    background-color: rgb(207,0,11);
    border-radius: 2px;
    border: none;
    outline: none;
    color: white;
    font-size: 14px;
    font-weight: 100;
}