body{
    margin:0;
    padding:0;
    font-family: sans-serif;
    height:100%;
    width:100%;
}
.sortBar{
    height: 50px;
    background-color:rgb(235,235,235);
    border: 1px solid rgb(180, 180, 180);
    display: flex;
}
.sortBar>div{
    padding:15px 20px 10px 20px;
    font-size: 15px;
    color:rgb(31, 31, 31);
    border-right: 1px solid rgb(180, 180, 180);
    text-align:center;
}
.sortBar>div:first-child{
    padding:15px 20px 10px 20px;
    margin-left: 25%;
    font-size: 15px;
    font-weight: 600;
    color:rgb(90, 90, 90);
    border: none;
}
.sortBar>div:nth-child(6){
    border: none;
}
.mainBody{
    border: 1px solid rgb(180, 180, 180);
    height: 1260px;
    display: flex;
    gap: 30px;
    background: url("https://static.abhibus.com/img/diwali/web/bg.png") no-repeat center top !important;
}

/* ------------------------------------filter Left CSS Start------------------------------- */

.filtersBody{
    width: 250px;

}
.filtersBody>div:first-child{
  display: flex;
  gap: 130px;
  font-size: 17px;
  font-weight: 600;
  color: rgb(49, 49, 49);
  margin:15px 0 0 0;
}
.filtersBody>div:first-child>div:nth-child(2){
   font-size: 14px;
   font-weight: 500;
   color: rgb(245, 52, 52);
}
.PriceDrop{
    display: flex;
    background-color: rgb(248,248,248);
    margin-top: 10px;
    padding: 10px 12px 10px 12px;
    gap: 120px;
    border: 1px solid rgb(200, 200, 200);
}
.PriceDrop>div:first-child{
    font-size: 16px;
    font-weight: 600;
    color: rgb(49, 49, 49);
}
.BusType{
    padding: 10p 0 20px 0;
height: 110px;
background-color: rgb(248,248,248);
border: 1px solid rgb(202, 202, 202);
}
.BusType>div:first-child{
    display: flex;
    padding: 10px 12px 10px 12px;
    gap: 100px;
}
.BusType>div:first-child>div:first-child{
    font-size: 16px;
    font-weight: 600;
    color: rgb(49, 49, 49);
}
.BusType>div:first-child>div:nth-child(2){
    font-size: 14px;
    font-weight: 500;
    color: rgb(245, 52, 52);
    cursor: pointer;
}
.BusTypeImage{
    display: flex;
    padding: 0px 15px 15px 15px;
}
.BusTypeImage>div{
    height: 30px;
    width: 55px;
  border-radius: 4PX;
    justify-content: center;
    text-align: center;
    padding: 8px 0 15px 0;
    cursor: pointer;
    border: 0.001rem solid rgb(202, 202, 202);
}
.BusTypeImage>div>img{
    width: 25px;
}
.BusTypeImage>div>div{
    font-size: 10px;
   
    
}
.BusTypeImageClick{
    background-color: red;
    color: white;
}
.BusTypeImageNotClick{
    background-color: white;
    color: rgb(49, 49, 49);
}
.BusPartner{
    padding: 10p 0 20px 0;
    background-color: rgb(248,248,248);
    border: 1px solid rgb(202, 202, 202);
}
.BusPartner>div:first-child{
    display: flex;
    padding: 10px 12px 10px 12px;
    gap: 55px;
}
.BusPartner>div:first-child>div:first-child{
    font-size: 16px;
    font-weight: 600;
    color: rgb(49, 49, 49);
}
.BusPartner>div:first-child>div:nth-child(2){
    font-size: 14px;
    font-weight: 500;
    color: rgb(245, 52, 52);
    cursor: pointer;
    text-align: right;
    
    
}
.BusPartnerMenu{
    /* display: none; */
    /* height: 100px; */
    width: 212px;
    margin: 0 12px 10px 12px;
    border: 1px solid rgb(216, 216, 216);
    padding: 10px 0 10px 10px;
    background-color: white;
    margin-top: -5px;
}
.BusPartnerMenu>div{
    font-size: 14px;
    color: rgb(88, 88, 88);
    gap: 2px;
    display: flex;

}
.BusPartnerMenu>div>div:nth-child(2){
    margin-top: 2px;
}

.DepartureType{
    padding: 10p 0 20px 0;
/* height: 110px; */
background-color: rgb(248,248,248);
border: 1px solid rgb(202, 202, 202);
}
.DepartureType>div:first-child{
    display: flex;
    padding: 10px 12px 10px 12px;
    gap: 50px;
    flex-wrap: wrap;
}
.DepartureType>div:first-child>div:first-child{
    font-size: 16px;
    font-weight: 600;
    color: rgb(49, 49, 49);
}
.DepartureType>div:first-child>div:nth-child(2){
    font-size: 14px;
    font-weight: 500;
    color: rgb(245, 52, 52);
    cursor: pointer;
}

.DepartureTypeImage{
  display:"grid";
  padding: 0px 15px 15px 15px;
}
.DepartureTypeImage>div{
    height: 35px;
    width: 107px;
  border-radius: 4PX;
    justify-content: center;
    text-align: center;
    padding: 8px 0 15px 0;
    cursor: pointer;
    border: 0.001rem solid rgb(202, 202, 202);
}
.DepartureTypeImage>div>img{
    width: 30px;
}
.DepartureTypeImage>div>div{
    font-size: 10px;
}

.PriceRange{
    color: #fff;
    padding: 10px;
    background-color: rgb(248,248,248);
    border: 0.001rem solid rgb(202, 202, 202);
    height: 85px;
}
.PriceRange>div{
    font-size: 15px;
    font-weight: 600;
    color: rgb(34, 34, 34);
}
.PriceRange>div:nth-child(2){
    text-align: center;
    margin-top: 10px;
}
.PriceRange>div:nth-child(3){
    margin-left: 20px;
}
/* --------------------------------Filter Left CSS End--------------------------------- */

.topImg{
    margin-top: 20px;
}
/* .cardBody{
    height: 120px;
    background-color: aqua;
} */